bin/
obj/
addons/
SuperSecretStuff.cs
SharpTimer.sln
MySqlConnector.dll
Nexd.MySQL.dll
CounterStrikeSharp.API.dll
cfg/SharpTimer/MapData/MapExecs/bhop_.cfg
cfg/SharpTimer/MapData/MapExecs/kz_.cfg
cfg/SharpTimer/MapData/MapExecs/surf_.cfg
